---
const {ville, region} = Astro.props;
---
<h3>
    Que vous soyez un particulier, une entreprise, une association :
</h3>
<p>
    IBF equicoaching vous propose des prestations sur mesure {ville} {region ? `et en région ${region}` : ''}, pour
    avancer sereinement vers vos objectifs !
</p>
<ul>
    <li><strong>formations</strong></li>
    <li><strong>ateliers découverte collectifs</strong></li>
    <li><strong>séances individuelles</strong></li>
    <li><strong>coaching d’équipe</strong></li>
    <li><strong>team-building et séminaires</strong></li>
</ul>
<p>
    <strong>Aucune compétence équestre n’est nécessaire, tout se passe à pied !</strong>
</p>
<p>
    Venez découvrir une <strong>nouvelle approche du coaching</strong> avec la
    médiation du cheval comme <strong>révélateur de comportements et
    d’émotions</strong>.
</p>
<p>Explorez notre approche en vous enregistrant à l'un de nos <a href="/events">ateliers découverte</a> ou en <a href="/contact">planifiant une séance personnelle</a>.</p>
<p>Participez à une formation diversifiée couvrant différents sujets :</p>
<ul>
    <li><a href="/program/manager-leadership">Gestion du leadership et des compétences managériales</a></li>
    <li><a href="/program/cohesion-communication">Cohésion d'équipe et communication</a></li>
    <li><a href="/program/soft-skills">Développement des compétences relationnelles</a></li>
</ul>
<p>Pour les cavaliers : reprenez confiance à cheval suite à une chute, ou perfectionnez vos compétences équestres <a href="/pricing-equitation">grâce à nos prestations en équitation</a></p>
<p>
    IBF Equicoaching, ce sont des <strong>séances encadrées par des Equicoachs formées et certifiées</strong>.
</p>
<p>
    Les séances de coaching sont encadrées
    par une déontologie et des contrats pour que vous puissiez avancer
    vers vos objectifs en toute <strong>confiance et en sécurité</strong>.
</p>