---

---
<h3>
    For individuals and companies :
</h3>
<p>
    IBF Equicoaching offers horse coaching and equichoaching services near the Swiss/French border, to help you progress
    towards your objectives!
</p>
<ul>
    <li>individual sessions</li>
    <li>discovery workshops in groups</li>
    <li>company team-building</li>
    <li>horse coaching</li>
    <li>training for managers and company teams</li>
</ul>
<p>
    No horse riding skill required, all the excercices are done on foot !
</p>
<p>
    Come and discover a new coaching approach with horse coaching. With the horse as an indicator of behaviors and
    emotions.
</p>
<p>
    IBF Equicoaching provides sessions supervised by trained and certified Equicoachs.
</p>
<p>
    The sessions are supervised by ethics and contracts, so that you can move towards your goals with confidence and
    safely.
</p>
<h4>
    For an English version of our services, feel free to contact us using the link bellow !
</h4>