---

---
<h3>
    For individuals and companies :
</h3>
<p>
    IBF Equicoaching offers <strong>horse coaching and equichoaching services</strong> near the Swiss/French border, to help you progress
    towards your objectives!
</p>
<ul>
    <li><strong>individual sessions</strong></li>
    <li><strong>discovery workshops in groups</strong></li>
    <li><strong>company team-building</strong></li>
    <li><strong>horse coaching</strong></li>
    <li><strong>training for managers and company teams</strong></li>
</ul>
<p>
    <strong>No horse riding skill required</strong>, all the excercices are done on foot !
</p>
<p>
    Come and discover a new coaching approach with horse coaching. <strong>With the horse as an indicator of behaviors and
    emotions</strong>.
</p>
<p>
    IBF Equicoaching provides sessions <strong>supervised by trained and certified Equicoachs</strong>.
</p>
<p>
    The sessions are supervised by ethics and contracts, so that you can move towards your goals with confidence and
    safely.
</p>
<h4>
    <strong>For an English version of our services, feel free to contact us using the link bellow or by email :
        <a href="mailto:ibf.equicoaching@gmail.com">ibf.equicoaching@gmail.com</a></strong>
</h4>