---
const {ville, bassin} = Astro.props;
---
<h3>
    Que vous soyez une entreprise, un particulier, une association :
</h3>
<p>
    IBF equicoaching vous accompagne {ville} {bassin ? `et dans le bassin ${bassin}` : ''},
    avancez sereinement vers vos objectifs !
</p>
<ul>
    <li>ateliers découverte collectifs</li>
    <li>team-building et séminaires</li>
    <li>coaching d’équipe</li>
    <li>séances individuelles</li>
    <li>formations</li>
</ul>
<p>
    Les ateliers et prestations ne nécéssitent aucune compétence équestre.
</p>
<p>
    Venez découvrir une nouvelle approche du coaching avec la
    médiation du cheval comme révélateur de comportements et
    d’émotions.
</p>
<p>
    IBF Equicoaching, ce sont des séances encadrées par une
    ou des Equicoachs formées et certifiées.
</p>
<p>
    Les séances de coaching sont encadrées
    par une déontologie et des contrats pour que vous puissiez avancer
    vers vos objectifs en toute confiance et en sécurité.
</p>