---
const {ville, bassin} = Astro.props;
---
<h3>
    Que vous soyez une entreprise, un particulier, une association :
</h3>
<p>
    IBF equicoaching vous accompagne {ville} {bassin ? `et dans le bassin ${bassin}` : ''},
    avancez sereinement vers vos objectifs !
</p>
<ul>
    <li><strong>ateliers découverte collectifs</strong></li>
    <li><strong>team-building et séminaires</strong></li>
    <li><strong>coaching d’équipe</strong></li>
    <li><strong>séances individuelles</strong></li>
    <li><strong>formations</strong></li>
</ul>
<p>
    Les ateliers et prestations ne nécéssitent <strong>aucune compétence équestre</strong>.
</p>
<p>
    Venez découvrir une <strong>nouvelle approche du coaching</strong> avec la
    médiation du cheval comme <strong>révélateur de comportements et
    d’émotions</strong>.
</p>
<p>Inscrivez-vous à l'un de nos <a href="/events">ateliers découverte</a> pour découvrir notre approche, ou <a href="/contact">contactez-nous pour réserver une séance personnalisée</a>.</p>
<p>Choisissez un <a href="/blog/certification-qualiopi"><strong>centre de formation certifié Qualiopi</strong></a> afin de suivre une formation abordant divers sujets :</p>
<ul>
    <li><a href="/program/manager-leadership">Leadership et techniques de management</a></li>
    <li><a href="/program/cohesion-communication">Cohésion d'équipe et compétences en communication</a></li>
    <li><a href="/program/soft-skills">Soft Skills</a></li>
</ul>
<p>Pour les cavaliers : regagnez votre assurance à cheval après une chute, ou développez vos aptitudes équestres <a href="/pricing-equitation">grâce à nos prestations en équitation</a></p>
<p>
    IBF Equicoaching, ce sont des séances encadrées par des <strong>Equicoachs formées et certifiées</strong>.
</p>
<p>
    Les séances de coaching sont encadrées
    par une déontologie et des contrats pour que vous puissiez avancer
    vers vos objectifs en toute <strong>confiance et en sécurité</strong>.
</p>