---
const {ville, region} = Astro.props;
---
<h3>
    Entreprises, particuliers, associations...
</h3>
<p>
    Nous organisons des <strong>prestations sur mesure</strong> pour avancer vers vos
    objectifs {ville ? `${ville}` : ''}{ville && region ? ',' : ''} {region ? `en région ${region}` : ''}.
</p>
<ul>
    <li><strong>séances individuelles</strong></li>
    <li><strong>formations</strong></li>
    <li><strong>team-building et séminaires</strong></li>
    <li><strong>ateliers découverte collectifs</strong></li>
    <li><strong>coaching d’équipe</strong></li>
</ul>
<p>
    Les séances se déroulent à pied et ne demandent <strong>aucune connaissance équestre</strong>.
</p>
<p>
    Venez découvrir une <strong>nouvelle approche du coaching</strong> avec la
    <strong>médiation du cheval</strong> comme révélateur de comportements et
    d’émotions.
</p>
<p>
    IBF Equicoaching, ce sont des <strong>séances encadrées par des Equicoachs formées et certifiées</strong>.
</p>
<p>
    Les séances de coaching sont encadrées
    par une déontologie et des contrats pour que vous puissiez avancer
    vers vos objectifs en toute confiance et en sécurité.
</p>