@import 'src/styles/common/_colors';
@import 'src/styles/common/_spaces';
@import 'src/styles/common/_media';

.m-footer-separator {
  background-color: $color-primary;
  height: $space-F;
}

.m-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: $space-B $space-C;
  background-color: $color-white;

  &-content {
    margin: $space-B;
  }

  &-seo {
    max-width: 30rem;
  }

  a {
    text-decoration: none;
    color: $color-default;
  }

  a:hover {
    color: $color-primary;
  }

  &-links, &-pages {
    padding-left: $space-A;
  }

  &-links > li {
    margin: $space-B;
  }

  &-pages > li {
    margin: $space-B $space-A;
    list-style-type: none;
  }

  &-title {
    font-weight: 600;
  }

  &-info {
    color: $color-primary;

    &-highlight {
      font-weight: 400;
      margin: $space-Ac;
    }
  }

  &-social {
    &-icon {
      margin: $space-Ac;
      width: 2rem;
      height: 2rem;
      color: $color-primary;
      cursor: pointer;
    }

    &-icon:hover {
      color: $color-gray-light;
    }
  }

  &-qualiopi {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      margin-top: 0;
    }
  }
}

@include mobile {
  .m-footer {
    flex-direction: column-reverse;
    padding: $space-D $space-Ae;
  }
}
