@import 'src/styles/common/_colors';
@import 'src/styles/common/_spaces';
@import 'src/styles/common/_media';

.m-header-title {
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: row;
  background-color:  $color-white;
  text-decoration: none;

  &-text {
    font-weight: 600;
    font-size: 2rem;
    margin: $space-B;
    color: $color-primary;

    @include mobile {
      font-size: 1.5rem;
      margin: $space-Ah $space-B $space-Ah $space-Ah;
    }
  }
}

.m-header-line {
  width: 100%;
  height: 1px;
  background: $color-gray-light;
}

@include mobile {
  .m-header-icon {
    top: $space-Be;
  }
}

@include tablet {
  .m-header-icon {
    top: $space-C;
  }
}

@include tablet-and-mobile {
  .m-header {
    &-icon {
      color: $color-primary;
      position: fixed;
      right: $space-B;
      z-index: 998;
      cursor: pointer;
    }

    &-menu {
      position: fixed;
      top: 0;
      padding-top: $space-C;
      bottom: 0;
      z-index: 998;
      background: $color-default;
      left: 0;
      width: 20rem;
      overflow-y: auto;
      transition: 0.3s;
      opacity: 0.8;
      display: none;

      ul li {
        list-style-type: none;
        color: $color-white;
      }

      a {
        text-decoration: none;
        color: $color-white;
      }
    }
  }
}

@include desktop {
  .m-header {
    &-icon {
      display: none;
    }

    &-menu {
      background-color: $color-white;
      color: $color-default;

      ul li {
        list-style-type: none;
      }

      a {
        text-decoration: none;
        color: $color-default;
      }

      .m-menu-items {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0;
      }
    }
  }
}

.hidden {
  display: none;
}

.show {
  display: block;
}

.m-header-mobile-overlay {
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: $color-default;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  cursor: pointer;
}

