@import 'src/styles/common/_spaces';

.m-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: $space-B;

  &-title, &-empty {
    text-align: center;
  }

  &-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 80%;
  }
}