@import 'src/styles/common/_spaces';
@import 'src/styles/common/_colors';

.m-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: $space-B;

  &-sub-title {
    color: $color-primary;
    text-align: center;
  }

  &-sub-image {
    margin: $space-B 0;
  }

  &-title, &-empty {
    text-align: center;
  }

  &-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 90%;
  }

  &-footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    div {
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      p {
        margin: $space-B $space-D;
        text-align: center;
        width: 15rem;
      }
    }
  }
}