@import 'src/styles/common/_spaces';
@import 'src/styles/common/_media';
@import 'src/styles/common/_colors';

.m-panel {
  width: 80%;
  margin-bottom: $space-B;

  &-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border: solid 1px $color-gray-light;
    background-color: $color-gray-light-light;

    p {
      margin: $space-B;
      color: $color-primary;
    }

    svg {
      margin-right: $space-B;
      color: $color-primary;
      height: 2rem;
      width: 2rem;
    }
  }

  &-content {
    position: absolute;
    border: solid 1px $color-gray-light;
    background-color: $color-white;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;

    &-event {
      display: flex;
      flex-direction: column;
      align-items: center;

      div {
        max-width: 50rem;
      }
    }

    &-slot {
      margin: $space-B;
    }
  }

  .active svg {
    transform: rotate(-0.25turn);
    transition: all 300ms;
  }

  .show {
    position: inherit;
    visibility: visible !important;
    opacity: 1 !important;
  }
}

@include mobile {
  .m-panel {
    width: 90%;
  }
}