@import 'src/styles/common/_spaces';
@import 'src/styles/common/_colors';


.m-qualiopi {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: $space-B;
  
  &-link {
  	font-size: 0.8rem;
  	color: $color-primary;
  }
  
  &-link:hover {
  	color: $color-light-red;
  }
}
