@import 'src/styles/common/_colors';
@import 'src/styles/common/_spaces';
@import 'src/styles/common/_media';

.m-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: $space-C $space-A;
  font-weight: 300;

  &-text, &-picture {
    margin: 0 $space-C;
    max-width: 30rem;

    &-full {
      max-width: 60%;
    }

    &-wide {
      max-width: 50rem;
    }
  }

  h2 {
    margin-bottom: $space-Af;
  }

  &-subtitle {
    font-weight: 600;
  }

  &-content {
    margin: $space-A;

    li {
      margin: $space-Af 0;
    }
  }

  &-video {
    align-self: center;
  }

  &-picture, &-video {
    width: 35rem;
  }

  &-picture {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-actions {
    display: flex;
    align-items: center;
    font-weight: 700;

    a {
      background-color: $color-primary;
      color: $color-white;
      text-decoration: none;
      padding: $space-Ah;
      margin-right: $space-Af;
    }

    a:hover {
      background-color: $color-white;
      color: $color-primary;
      outline: 0.1rem solid $color-primary;
    }
  }
}

@include mobile {
  .m-section {
    flex-direction: column;
    align-items: center;
    padding: $space-B $space-A;

    &-picture, &-video {
      margin-top: $space-C;
      width: 20rem;
    }

    &-text-full {
      max-width: 90%;
    }

    &-picture {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &-video {
      margin: $space-C;
    }
  }
}

@include tablet-and-mobile {
  .m-section {
    &-picture {
      img {
        width: 320px;
        height: 320px;
      }
    }

    &-text-full {
      max-width: 90%;
    }
  }
}