@import 'src/styles/common/_colors';
@import 'src/styles/common/_spaces';
@import 'src/styles/common/_media';

.m-separator-bg {
  width: 100%;
}

.m-separator-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin: 0 5rem;
  align-items: center;
  height: 15rem;

  p {
    margin: $space-C;
    color: $color-white;

    @include desktop {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  @include mobile {
    margin: 0;

    p {
      margin: $space-B;
      font-size: 1rem;
    }
  }

  &-empty {
    height: 15rem;
  }
}

.m-separator-feature {
  font-weight: 600;
}

.m-separator-feature:hover {
  color: $color-primary;
}