@import 'src/styles/common/_colors';
@import 'src/styles/common/_spaces';
@import 'src/styles/common/_media';

.m-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: $space-C $space-A;
  font-weight: 300;

  &-text, &-picture {
    margin: $space-B;
    max-width: 30rem;
  }

  h2 {
    margin-bottom: $space-Af;
  }

  &-subtitle {
    font-weight: 600;
  }

  &-content {
    margin: $space-A;
  }

  &-picture, &-video {
    width: 30rem;
    height: 16rem;
  }
}

@include mobile {
  .m-section {
    flex-direction: column;
    align-items: center;
    padding: $space-B $space-A;

    &-picture, &-video {
      margin-top: $space-C;
      width: 20rem;
    }

    &-picture {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 20rem;
    }

    &-video {
      height: 10rem;
      margin: $space-C;
    }
  }
}