---

---
<p>
    <strong>Durée&nbsp;:</strong>
    1 journée (7h)
</p>
<p>
    <strong>Public visé :</strong>
    Equipes, comités de direction, associations, collectivités, familles, groupe de personnes ayant à fonctionner
    ensemble.
</p>
<p><strong>NIVEAU DE CONNAISSANCES PRÉALABLES REQUIS</strong></p>
<p>
    Aucun prérequis n’est nécessaire pour cette formation.
    Aucune compétence équestre n’est nécessaire tous les exercices ont lieu à pied à côté du cheval.
</p>
<p><strong>LES OBJECTIFS PÉDAGOGIQUES DE FORMATION</strong></p>
<p>
    A l’issue de la formation le stagiaire sera capable de&nbsp;:<br>
</p>
<ul>
    <li>Prendre sa place avec assertivité au sein de l’équipe&nbsp;;</li>
    <li>Maîtriser les techniques pour prendre conscience de leur mode de fonctionnement et du mode de
        fonctionnement des autres personnes de leur équipe&nbsp;;
    </li>
    <li>Observer ce qui se passe chez les autres personnes et adapter son comportement et sa
        communication&nbsp;;
    </li>
    <li>Prendre des décisions en accord avec le collectif.</li>
</ul>
<p></p>
<p><strong>LES MOYENS PÉDAGOGIQUES ET TECHNIQUES</strong></p>
<p>
    La formation s’effectue <strong>en présentiel</strong> dans les locaux de l’organisme de formation ou dans une
    structure
    équestre et avec les moyens techniques mis à disposition par le formateur et la structure qui accueille la
    formation.&nbsp;
    En début de formation, des supports pédagogiques seront mis à la disposition de chaque stagiaire.<br>
    <strong>Moyens d’évaluation&nbsp;:</strong> Feuilles d’émargement, contrôle continu et évaluation finale des
    stagiaires.<br><br>
    <strong>Une tenue adaptée à l’extérieur est fortement conseillée et des chaussure fermées (type basket) sont
        obligatoires.</strong>
</p>
<h3>
    Contenu de la formation&nbsp;:
</h3>
<br>
<ul>
    <li>Introduction&nbsp;: (30’)</li>
    <li>MODULE 1 (3 heures) Conscience de soi et confiance</li>
    <li>MODULE 2 (30 min) Poser ses limites</li>
    <li>MODULE 3 (2h45 heures) Cohésion communication et assertivité</li>
    <li>Evaluation finale + conclusion (45’)</li>
</ul>
<br>
<p>
    Tarif&nbsp;: 800 € HT&nbsp;/ personne <small>(TVA non applicable, article 293 B du CGI).&nbsp;</small>&nbsp;<br>
    (Tarif adaptatif en fonction de vos besoins, sur demande)
</p>