---

---
<p>
    <strong>Durée&nbsp;:</strong>
    1 journée (7h)
</p>
<p>
    <strong>Public visé :</strong>
    Managers / chef(fe)s d’équipe juniors, séniors ou en formation,
    dirigeants, comité de direction. Particuliers, salariés,
    indépendants ou inter-entreprise.
</p>
<p><strong>NIVEAU DE CONNAISSANCES PRÉALABLES REQUIS</strong></p>
<p>
    Aucun prérequis n’est nécessaire pour cette formation&nbsp; Aucune
    compétence équestre n’est nécessaire tout se fait à pied au côté
    du cheval.
</p>
<p><strong>LES OBJECTIFS PÉDAGOGIQUES DE FORMATION</strong></p>
<p>
    A l’issue de la formation le stagiaire sera capable de&nbsp;:<br>
</p>
<ul>
    <li>Manager une équipe avec assertivité ;</li>
    <li>S’adapter aux différentes situations et profils</li>
    <li>De maîtriser les techniques pour avoir conscience de son leadership, de sa posture et de sa
        façon de communiquer
    </li>
    <li>De fixer des objectifs réalisables et challengeants pour soi ou son équipe.</li>
</ul>
<p></p>
<p><strong>LES MOYENS PÉDAGOGIQUES ET TECHNIQUES</strong></p>
<p>
    La formation s’effectue <strong>en présentiel</strong> dans les locaux de l’organisme de formation ou dans une
    structure
    équestre et avec les moyens techniques mis à disposition par le formateur.
    Chevaux adaptés, infrastructures (salle, manège ou carrière) et matériel pédagogique dont dispose la structure.
    En début de formation, des supports pédagogiques seront mis à la disposition de chaque stagiaire.<br>
    <strong>Moyens d’évaluation&nbsp;:</strong> Feuilles d’émargement, contrôle continu et évaluation finale des
    stagiaires.<br><br>
    <strong>Une tenue adaptée à l’extérieur est fortement conseillée et des chaussure fermées (type basket) sont
        obligatoires.</strong>
</p>
<h3>
    Contenu de la formation&nbsp;:
</h3>
<br>
<ul>
    <li>Introduction&nbsp;: (30’)</li>
    <li>MODULE 1 (1 heure)&nbsp;: Conscience de soi et confiance en soi et en l’autre</li>
    <li>MODULE&nbsp;2 (2 heures)&nbsp;: Accompagner une équipe&nbsp;; prendre conscience de son leadership</li>
    <li>MODULE 3 (2.45 heures)&nbsp;: Être assertif, se servir de son leadership, fixer des objectifs.</li>
    <li>Evaluation finale + conclusion (45’)</li>
</ul>
<br>
<p>
    Tarif&nbsp;: 800 € HT&nbsp;/ personne <small>(TVA non applicable, article 293 B du CGI).&nbsp;</small><br>
    (Tarif adaptatif en fonction de vos besoins, sur demande)
</p>