---

---
<p>
    <strong>Durée&nbsp;:</strong>
    1 journée (7h)
</p>
<p>
    <strong>Public visé :</strong>
    Tout public
</p>
<p><strong>NIVEAU DE CONNAISSANCES PRÉALABLES REQUIS</strong></p>
<p>
    Aucun prérequis n’est nécessaire pour cette formation.
    Aucune compétence équestre n’est nécessaire tous les exercices ont lieu à pied à côté du cheval.
</p>
<p><strong>LES OBJECTIFS PÉDAGOGIQUES DE FORMATION</strong></p>
<p>
    A l’issue de la formation le stagiaire sera capable de&nbsp;:<br>
</p><ul>
    <li>Maîtriser les techniques dans le but de prendre en compte leurs propres besoins et émotions&nbsp;;</li>
    <li>D’adapter leurs comportements et leurs communications en fonction des situations et des personnes&nbsp;;</li>
    <li>Maîtriser les techniques pour améliorer leur confiance en elle&nbsp;;</li>
    <li>D’être créatives&nbsp;;</li>
    <li>De prendre des décisions avec assertivité.</li>
</ul>
<p></p>
<p><strong>LES MOYENS PÉDAGOGIQUES ET TECHNIQUES</strong></p>
<p>
    La formation s’effectue <strong>en présentiel</strong> dans les locaux de l’organisme de formation ou dans une structure
    équestre et avec les moyens techniques mis à disposition par le formateur et la structure qui accueille la
    formation.<br>
    <strong>Moyens d’évaluation&nbsp;:</strong> Feuilles d’émargement, contrôle continu et évaluation finale des stagiaires.<br><br>
    <strong>Une tenue adaptée à l’extérieur est fortement conseillée et des chaussure fermées (type basket) sont
        obligatoires.</strong>
</p>
<h3>
    Contenu de la formation&nbsp;:
</h3>
<br>
<ul>
    <li>Introduction&nbsp;: (30’)</li>
    <li>MODULE 1 (1heure) Conscience de soi et confiance</li>
    <li>MODULE 2 (2 heures)&nbsp;: Prendre sa place avec assertivité et leadership</li>
    <li>MODULE 3 (2h45 heures)&nbsp;: Développer ses ressources</li>
    <li>Evaluation finale + conclusion (45’)</li>
</ul>
<br>
<p>
    Tarif&nbsp;: 800 € HT&nbsp;/ personne <small>(TVA non applicable, article 293 B du CGI).&nbsp;</small><br>
    (Tarif adaptatif en fonction de vos besoins, sur demande)
</p>