$space-A: 0;
$space-Ab: 0.1rem;
$space-Ac: 0.2rem;
$space-Ad: 0.3rem;
$space-Ae: 0.4rem;
$space-Af: 0.5rem;
$space-Ag: 0.6rem;
$space-Ah: 0.7rem;
$space-B: 1rem;
$space-Bc: 1.3rem;
$space-Be: 1.5rem;
$space-C: 2rem;
$space-D: 3rem;
$space-E: 4rem;
$space-F: 5rem;