---
import Layout from '../layouts/Layout.astro';
import Title from '../components/Title.astro';
import Section from '../components/Section.astro';
import Seo from '../class/Seo';
import ReturnAction from '../class/ReturnAction'
import Image from '../class/Image'
import ButtonAction from '../class/ButtonAction'

const returnValues: ReturnAction = new ReturnAction('/bons', 'Bons cadeaux')
const image: Image = new Image('/img/bons-320x320.webp', 'bons cadeaux equicoaching', null, null)
const actions: ButtonAction[] = [new ButtonAction
(
        '/contact',
        'Offrez de l\'équicoaching'
)]
const seoData: Seo = new Seo('IBF Equicoaching | Chèques cadeaux', 'Offrez de l\'équicoaching en cadeau, pour une occasion ou pour les fêtes. Osez le cadeau bien être !', false);
---

<Layout title="IBF Equicoaching | Chèques cadeaux" seoData={seoData}>
    <main>
        <Title title="Bons Cadeaux" returnValues={returnValues}/>
        <Section displayTextLeft="true" subTitle="Chèques cadeaux IBF équicoaching" imgContent={image}
                 actions={actions}>
            <h2 slot="section-title">Faites vous plaisir, faites plaisir à vos proches</h2>
            <Fragment slot="section-content">
                <p>
                    Envie d'une idée cadeau originale ? Offrez de l'équicoaching !
                </p>
                <p>
                    A la séance, en forfait ou pour un atelier, c'est vous qui choisissez !
                </p>
                <p>
                    Paiement par virement ou par chèque, Remise en main propre ou par voie postale.
                </p>
            </Fragment>
        </Section>
    </main>
</Layout>
