---
import Layout from '../layouts/Layout.astro';
import Title from '../components/Title.astro';
import Section from '../components/Section.astro';
import SeparatorValues from '../components/SeparatorValues.astro';

const returnValues = {link: '/charte-accessibilite', title:'Charte Accessibilite'}
---

<Layout title="IBF Equicoaching | Charte Accessibilite">
	<main>
	    <Title title="Charte pour l'accueil en formation de personnes en situation de handicap " returnValues={returnValues} />
        <Section>
            <h2 slot="section-title">Pourquoi cette charte ?</h2>
            <Fragment slot="section-content">
                <p>
                    Cette charte a pour objectif de faciliter l’accueil des personnes
                    en situation de handicap en milieu habituel de formation, afin de
                    leur permettre d’améliorer leur niveau de qualification et
                    d’adapter leurs compétences dans le but d’une insertion
                    professionnelle.
                </p>
                <p>
                    <strong>Rappel :</strong> La Loi dite « Loi Handicap » du 11
                    février 2005 se traduit en matière de formation professionnelle
                    par une obligation nouvelle des organismes de formation d’adapter
                    les modalités de la formation ainsi que les supports pédagogiques
                    aux besoins liés aux handicaps. (Décret n° 2006-26 du 9 janvier
                    2006).
                    <a href="https://travail-emploi.gouv.fr/le-ministere-en-action/article/la-loi-pour-la-liberte-de-choisir-son-avenir-professionnel-handicap">
                        La loi du 5 septembre 2018 pour la « liberté de choisir son
                        avenir professionnel » a pour objectif de faciliter l’accès à
                        l’emploi des personnes en situation de handicap.
                    </a>
                </p>
                <p>
                    Le choix du dispositif et l’aide financière possible dépendent de
                    votre situation professionnelle, demandeur d’emploi ou salarié.
                </p>
                <p>
                    <a href="https://www.monparcourshandicap.gouv.fr/formation-professionnelle">https://www.monparcourshandicap.gouv.fr/formation-professionnelle</a>
                </p>
                <h3>Nos engagements :</h3>
                <ul>
                    <li>Accueillir tous les publics sans discrimination ;</li>
                    <li>Informer et sensibiliser le public sur les conditions d’accessibilité et d’intégration auxactions de formation ;</li>
                    <li>Disposer d’un(e) référent(e) handicap, qui en coordination avec les équipespédagogiques, facilite
                    l’intégration des personnes en situation de handicap dans nos formations ;
                    </li>
                    <li>Mettre en œuvre, en fonction des besoins des personnes en situation de handicap, les adaptations
                    pédagogiques, matérielles et organisationnelles ;
                    </li>
                    <li>
                    Mobiliser l’ensemble des équipes pédagogiques, techniques et/ou administratives surles questions relatives
                    à l’accueil des personnes en situation de handicap ;
                    </li>
                    <li>
                    Communiquer sous différents supports, pour informer le public, les stagiaires et les personnels des
                    engagements pris.
                    </li>
                </ul>
                <h3>Etape de la prise en charge de la demande par le ou les référents handicap :</h3>
                <ul>
                        <li>
                        Recenser le besoin en formation et les attendus du bénéficiaire ;
                        </li>
                        <li>
                        Etudier les mesures à adapter pour compenser la situation d’handicap en lien avec le bénéficiaire et les
                        équipes pédagogiques :
                        <ul>
                            <li>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Si l’accès à la formation est faisable : mise en œuvre de la formation et le bénéficiaire prend contact
                                avec un des organismes ci-dessous si celui-ci a besoin d’un financement particulier (cout de la
                                formation ou ressources matériels),
                            </li>
                            <li>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Si l’accès à la formation n’est pas faisable : nous réorienterons le bénéficiaire vers notre liste de
                                partenaires.
                            </li>
                        </ul>
                    </li>
                </ul>
            </Fragment>
        </Section>
	</main>
</Layout>
