---
import Layout from '../layouts/Layout.astro';
import Title from '../components/Title.astro';
import '../styles/m-main.scss';

const returnValues = {link: '/contact', title: 'Contact'}
---

<Layout title="IBF Equicoaching | Contact">
    <main>
        <Title title="Contact" returnValues={returnValues}/>
        <div class="m-main">

        </div>
    </main>
</Layout>
