---
import Layout from '../layouts/Layout.astro';
import Title from '../components/Title.astro';
import '../styles/m-main.scss';

const returnValues = {link: '/contact', title: 'Contact'}
---

<Layout title="IBF Equicoaching | Contact">
    <main>
        <Title title="Contact" returnValues={returnValues}/>
        <div class="m-main">
            <h2 class="m-main-title">Pour toute question ou prise de rendez vous :</h2>
            <script src="https://apps.elfsight.com/p/platform.js" defer></script>
            <div class="elfsight-app-88c0db22-6e74-434a-a116-e3ae17bcbb2f"></div>
        </div>
    </main>
</Layout>
