---
import Layout from '../layouts/Layout.astro';
import Title from '../components/Title.astro';
import Section from '../components/Section.astro';

const returnValues = {link: '/cookies', title:'Gestion des données'}
const actions = [{
    link: '/',
    text: 'Retour à l\'accueil'
},
{
    link: '/contact',
    text: 'Me contacter'
}]
---
<Layout title="IBF Equicoaching | Cookies">
	<main>
	    <Title title="Cookies" returnValues={returnValues} />
        <Section actions={actions}>
            <h2 slot="section-title">Politique de gestion des données</h2>
            <Fragment slot="section-content">
                <p>
                    Ce site internet ne récolte aucune de vos informations via des
                    cookies. <br/>Vos données sont traitées par les prestataires utilisés
                    par ce site à savoir :
                    <ul>
                        <li>l'hébergeur OVH </li>
                        <li>la billetterie en ligne Yurplan</li>
                        <li>les divers widgets implémentés sur le site (elfsight...)</li>
                    </ul>
                </p>
                <p>
                    Les informations éventuellement transmises ne sont pas stockées en
                    adéquation avec le règlement général sur la protection des données
                    (RGPD)
                </p>
                <p>
                    Il vous est possible de demander l'effacement de vos coordonées en
                    nous contactant via le formulaire dédié.
                </p>
            </Fragment>
        </Section>
	</main>
</Layout>
