---
import Layout from '../layouts/Layout.astro'
import Title from '../components/Title.astro'
import Section from '../components/Section.astro'
import Seo from '../class/Seo'
import ReturnAction from '../class/ReturnAction'
import ButtonAction from '../class/ButtonAction'

const returnValues: ReturnAction = new ReturnAction('/cookies', 'Gestion des données')
const actions: ButtonAction[] = [new ButtonAction('/', 'Retour à l\'accueil'), new ButtonAction('/contact', 'Me contacter')]
const seoData: Seo = new Seo('IBF Equicoaching | Cookies', 'Politique de gestion de vos données personnelles', false)
const seoSchema = {
    "@context": "https://schema.org",
    "@graph": [
        {
            "@type": "Webpage",
            "@id":"https://ibf-equicoaching.com/cookies",
            "url":"https://ibf-equicoaching.com/cookies",
            "name": "Cookies",
            breadcrumb: {
                "@id":"https://ibf-equicoaching.com/#breadcrumblist"
            },
            isPartOf: {
                "@id":"https://ibf-equicoaching.com/#website"
            },
            about: {
                "@id":"https://ibf-equicoaching.com/#website"
            },
            audience : {
                "@id":"https://ibf-equicoaching.com/#audience",
            },
            datePublished : "2019-01-01T10:30:52+00:00 UTC+00:00",
            "description":"Cookies",
            "inLanguage":"fr-FR",
            author : {
                "@id":"https://ibf-equicoaching.com/#person"
            }
        },
        {
            "@type": "Website",
            "@id":"https://ibf-equicoaching.com/#website",
            "url": "https://ibf-equicoaching.com/",
            about: {
                "name" : "IBF Equicoaching"
            },
            "description" : "Formations et séances d'équicoaching pour entreprises et particuliers",
            audience : {
                "@id":"https://ibf-equicoaching.com/#audience",
            },
            datePublished : "2019-01-01T10:30:52+00:00 UTC+00:00",
            "alternateName" : "Equicoaching et Formations",
            isFamilyFriendly: true,
            publisher:{
                "@id":"https://ibf-equicoaching.com/#organization"
            },
            author : {
                "@id":"https://ibf-equicoaching.com/#person"
            },
        },
        {
            "@type": "Organization",
            "@id":"https://ibf-equicoaching.com/#organization",
            "name": "IBF Equicoaching",
            "url": "https://ibf-equicoaching.com",
            "slogan" : "Vers vos objectifs, Ensemble",
            "logo" : "https://www.ibf-equicoaching.com/img/logo-50x50.webp",
            "image" : "https://www.ibf-equicoaching.com/img/logo-50x50.webp",
            "alternateName":"Equicoaching et Formations",
            location : {
                "@id":"https://ibf-equicoaching.com/#address"
            },
            founder : {
                "@id":"https://ibf-equicoaching.com/#person",
            },
            address : {
                "@id":"https://ibf-equicoaching.com/#address"
            },
            "email" : "ibf.equicoaching@gmail.com",
            "telephone" : "(+33)6 10 83 37 88",
            "sameAs":[
                "https://www.linkedin.com/company/ibf-equicoaching/",
                "https://www.instagram.com/ibf_equicoaching/",
                "https://www.facebook.com/ibfequicoaching",
                "https://youtube.com/@IBFEquicoaching"
            ],
        },
        {
            "@type": "PostalAddress",
            "@id":"https://ibf-equicoaching.com/#address",
            "addressCountry" : "FR",
            "addressRegion" : "Rhône-Alpes",
            "postalCode" : "38570",
            "addressLocality" : "Theys",
            "streetAddress" : "358 route d'Hurtieres"
        },
        {
            "@type": "Audience",
            "@id":"https://ibf-equicoaching.com/#audience",
            "audienceType" : "Entreprises et particuliers",
        },
        {
            "@type": "Person",
            "@id":"https://ibf-equicoaching.com/#person",
            "givenName" : "Camille",
            "familyName" : "Marzec"
        },
        {
            "@type": "BreadcrumbList",
            "@id":"https://ibf-equicoaching.com/#breadcrumblist",
            "name": "Fil d'Ariane",
            "itemListElement": [
                {
                    "@type": "ListItem",
                    "position": 1,
                    "item":
                        {
                            "@id": "https://ibf-equicoaching.com",
                            "name": "Home"
                        }
                },
                {
                    "@type": "ListItem",
                    "position": 2,
                    "item":
                        {
                            "@id": "https://ibf-equicoaching.com/cookies",
                            "name": "Cookies"
                        }
                },
            ],
        }
    ]
}
---
<Layout title="IBF Equicoaching | Cookies" seoData={seoData} seoSchema={seoSchema}>
    <main>
        <Title title="Cookies" returnValues={returnValues}/>
        <Section actions={actions}>
            <h2 slot="section-title">Politique de gestion des données</h2>
            <Fragment slot="section-content">
                <p>
                    Ce site internet ne récolte aucune de vos informations via des
                    cookies. <br/>Vos données sont traitées par les prestataires utilisés
                    par ce site à savoir :
                </p>
                <ul>
                    <li>l'hébergeur GitHub Pages</li>
                    <li>la billetterie en ligne Yurplan</li>
                    <li>l'outil de transfert de messages EmailJS</li>
                </ul>
                <h3>Stockage des données par des applications tierces</h3>
                <p>
                    Ce site web utilise des widget tiers pour envoyer vos informations à IBF Equicoaching, ci dessous
                    des informations sur le stockage pour ces widgets :
                </p>
                <ul>
                    <li>
                        EmailJS : utilisé sur la page évènement comme intermédiaire de l'envoi de votre demande à IBF
                        Equicoaching, les données sont conservées en adéquation avec le reglement RGPD et sont
                        suppprimées automatiquement sous 30 jours, <a
                            href="https://www.emailjs.com/legal/privacy-policy/">gestion des données emailjs</a>
                    </li>
                    <li>
                        Yurplan : le widget yurplan vous permet de réserver des billets pour un évènement équicoaching.
                        Ces données sont traitées en accord avec le reglement RGPD et via des cookies séparés.
                        <a href="https://yurplan.com/politique-confidentialite">gestion des données yurplan</a>
                    </li>
                </ul>
                <p>
                    Il vous est possible de demander la modification ou l'effacement de vos coordonnées et de toute
                    donnée vous concernant en
                    nous contactant via le formulaire de contact, par mail ou par téléphone.
                </p>
                <p>
                    Dans un soucis de transparence, ce site est developpé en open source, le code est disponible ici : <a href="https://github.com/Thomas-Pellan/thomas-pellan.github.io">Dépot du site internet</a>
                </p>
            </Fragment>
        </Section>
    </main>
</Layout>
