---
import LayoutPanels from '../layouts/LayoutPanels.astro';
import Title from '../components/Title.astro';
import Panel from '../components/Panel.astro';
import '../styles/m-main.scss';

const returnValues = {link: '/events', title: 'Nos évènements'}
const seoData = {
    title: 'IBF Equicoaching | Nos Evenements et Ateliers',
    description: 'Réservez votre place pour un atelier ou un évènement équestre ou équicoaching.',
    noindex: false
}
---

<LayoutPanels title="IBF Equicoaching | Evenements" seoData={seoData}>
    <main>
        <Title title="Evenements" returnValues={returnValues}/>
        <div class="m-main">
            <h2 class="m-main-title">Inscrivez vous à mes prochains évènements</h2>
            <p class="m-main-empty">
                Aucun évènenement n'est prévu pour le moment. <a href="/contact">Contactez moi pour plus d'informations
                sur les suivants !</a>
            <p>
            <h3>Evenements passes</h3>
            <Panel title="Atelier Découverte Equicoaching #9 - Reconnexion à soi - Samedi 24 septembre. 2022 - 09h00 - 12h00 - Annulé !"
                   id="2">
                <Fragment slot="panel-content">
                    En raison des conditions météo, l'évenement est annulé. Toutes nos excuses pour le désagrément.
                </Fragment>
            </Panel>
            <Panel title="Atelier Découverte Equicoaching #8 - Confiance en soi - Samedi 10 septembre. 2022 - 09h00 - 12h00"
                   id="3">
                <Fragment slot="panel-content">
                    Il n'est plus possible de s'inscrire pour cet évènement.
                </Fragment>
            </Panel>
            <Panel title="Atelier Découverte Equicoaching #7 - Confiance en soi - Samedi 30 juillet. 2022 - 09h00 - 12h00"
                   id="4">
                <Fragment slot="panel-content">
                    <p>
                        Inscriptions au 06.10.83.37.88, par mail via ibf.equicoaching@gmail.com ou par le <a
                            style="color: #86071f;" href="/contact">formulaire de contact</a>
                    </p>
                </Fragment>
            </Panel>
            <Panel title="Festival Minuscule Theys - Venez me rencontrer ! - Samedi 21 mai. 2022 - à partir de 14h"
                   id="5">
                <Fragment slot="panel-content">
                    <p>
                        Je serai présente à Theys à partir de 14h pour vous rencontrer et répondre à vos questions sur
                        l'équicoaching.
                    </p>
                    <p>
                        <a style="color: #86071f;" href="https://www.facebook.com/events/290942599774619"
                           target="_blank">Lien de l'évènement</a>
                    </p>
                </Fragment>
            </Panel>
            <Panel title="Atelier Découverte Equicoaching #6 - Prendre conscience de sa puissance personnelle - Vendredi 27 mai. 2022 - 09h00 - 12h00"
                   id="6">
                <Fragment slot="panel-content">
                    <p>
                        Venez trouver où retrouver votre puissance personnelle au travers de la relation au cheval lors
                        d’une matinée d’equicoaching !
                    </p>
                    <p>
                        Inscriptions au 06.10.83.37.88, par mail via ibf.equicoaching@gmail.com ou par le <a
                            style="color: #86071f;" href="contact">formulaire de contact</a>
                    </p>
                    <p>
                        55€ / pers
                    </p>
                    <p>
                        6 personnes maximum
                    </p>
                    <p>
                        <a style="color: #86071f;" href="https://www.facebook.com/events/509092794226214"
                           target="_blank">Lien de l'évènement</a>
                    </p>
                </Fragment>
            </Panel>
            <Panel title="Atelier Découverte Equicoaching #5 - Confiance en soi - Samedi 19 mars. 2022 - 09h00 - 12h00"
                   id="7">
                <Fragment slot="panel-content">
                    Il n'est plus possible de s'inscrire pour cet évènement.
                </Fragment>
            </Panel>
        </div>
    </main>
</LayoutPanels>
