---
import Layout from '../layouts/Layout.astro';
import Title from '../components/Title.astro';
---

<Layout title="Equicoaching | Coaching Par Le Cheval | Grenoble et Chambéry">
	<main>
	    <Title title="IBF Equicoaching" returnLink="" />

	</main>
</Layout>
