---
import Layout from '../layouts/Layout.astro'
import Title from '../components/Title.astro'
import Section from '../components/Section.astro'
import Seo from '../class/Seo'
import ReturnAction from '../class/ReturnAction'
import ButtonAction from '../class/ButtonAction'

const returnValues: ReturnAction = new ReturnAction('/mentions-legales', 'Mentions légales')
const actions: ButtonAction[] = [new ButtonAction('/', 'Retour à l\'accueil'), new ButtonAction('/contact', 'Me contacter')]
const seoData: Seo = new Seo('IBF Equicoaching | Mentions Légale', 'Mentions légales du site IBF équicoaching.', false)
const seoSchema = {
    "@context": "https://schema.org",
    "@graph": [
        {
            "@type": "Webpage",
            "@id":"https://ibf-equicoaching.com/mentions-legales",
            "url":"https://ibf-equicoaching.com/mentions-legales",
            "name": "Mentions légales",
            breadcrumb: {
                "@id":"https://ibf-equicoaching.com/#breadcrumblist"
            },
            isPartOf: {
                "@id":"https://ibf-equicoaching.com/#website"
            },
            about: {
                "@id":"https://ibf-equicoaching.com/#website"
            },
            audience : {
                "@id":"https://ibf-equicoaching.com/#audience",
            },
            datePublished : "2019-01-01T10:30:52+00:00 UTC+00:00",
            "description":"Mentions légales",
            "inLanguage":"fr-FR",
            author : {
                "@id":"https://ibf-equicoaching.com/#person"
            }
        },
        {
            "@type": "Website",
            "@id":"https://ibf-equicoaching.com/#website",
            "url": "https://ibf-equicoaching.com/",
            about: {
                "name" : "IBF Equicoaching"
            },
            "description" : "Formations et séances d'équicoaching pour entreprises et particuliers",
            audience : {
                "@id":"https://ibf-equicoaching.com/#audience",
            },
            datePublished : "2019-01-01T10:30:52+00:00 UTC+00:00",
            "alternateName" : "Equicoaching et Formations",
            isFamilyFriendly: true,
            publisher:{
                "@id":"https://ibf-equicoaching.com/#organization"
            },
            author : {
                "@id":"https://ibf-equicoaching.com/#person"
            },
        },
        {
            "@type": "Organization",
            "@id":"https://ibf-equicoaching.com/#organization",
            "name": "IBF Equicoaching",
            "url": "https://ibf-equicoaching.com",
            "slogan" : "Vers vos objectifs, Ensemble",
            "logo" : "https://www.ibf-equicoaching.com/img/logo-50x50.webp",
            "image" : "https://www.ibf-equicoaching.com/img/logo-50x50.webp",
            "alternateName":"Equicoaching et Formations",
            location : {
                "@id":"https://ibf-equicoaching.com/#address"
            },
            founder : {
                "@id":"https://ibf-equicoaching.com/#person",
            },
            address : {
                "@id":"https://ibf-equicoaching.com/#address"
            },
            "email" : "ibf.equicoaching@gmail.com",
            "telephone" : "(+33)6 10 83 37 88",
            "sameAs":[
                "https://www.linkedin.com/company/ibf-equicoaching/",
                "https://www.instagram.com/ibf_equicoaching/",
                "https://www.facebook.com/ibfequicoaching",
                "https://youtube.com/@IBFEquicoaching"
            ],
        },
        {
            "@type": "PostalAddress",
            "@id":"https://ibf-equicoaching.com/#address",
            "addressCountry" : "FR",
            "addressRegion" : "Rhône-Alpes",
            "postalCode" : "38570",
            "addressLocality" : "Theys",
            "streetAddress" : "358 route d'Hurtieres"
        },
        {
            "@type": "Audience",
            "@id":"https://ibf-equicoaching.com/#audience",
            "audienceType" : "Entreprises et particuliers",
        },
        {
            "@type": "Person",
            "@id":"https://ibf-equicoaching.com/#person",
            "givenName" : "Camille",
            "familyName" : "Marzec"
        },
        {
            "@type": "BreadcrumbList",
            "@id":"https://ibf-equicoaching.com/#breadcrumblist",
            "name": "Fil d'Ariane",
            "itemListElement": [
                {
                    "@type": "ListItem",
                    "position": 1,
                    "item":
                        {
                            "@id": "https://ibf-equicoaching.com",
                            "name": "Home"
                        }
                },
                {
                    "@type": "ListItem",
                    "position": 2,
                    "item":
                        {
                            "@id": "https://ibf-equicoaching.com/mentions-legales",
                            "name": "Mentions légales"
                        }
                },
            ],
        }
    ]
}
---
<Layout title="IBF Equicoaching | Mentions légales" seoData={seoData} seoSchema={seoSchema}>
    <main>
        <Title title="Mentions légales" returnValues={returnValues}/>
        <Section actions={actions}>
            <h2 slot="section-title">Mentions légales du site web</h2>
            <Fragment slot="section-content">
                <p>
                    Ce site internet est édité par IBF-equicoaching représenté par Mme
                    Camille Marzec, micro entreprise immatriculée au répertoire des
                    entreprises et des établissements sous le numéro SIRET 887 607 646
                    000 23 et dont le siège social est 358 route d'Hurtières, 38570
                    Theys France.
                </p>
                <p>Le directeur de la publication du site est Thomas Pellan.</p>
                <p>
                    Vous pouvez me contacter : <br/>Par téléphone du lundi au vendredi de
                    8H30 à 18H sauf jours fériés : (+33)6 10 83 37 88
                </p>
                <p>
                    L'hébergeur du site est la société : GitHub Inc. 88 Colin P Kelly Jr. Street, San Francisco, California, 94107, USA.
                </p>
                <p>
                    Ce site est developpé en open source, le code est disponible ici : <a href="https://github.com/Thomas-Pellan/thomas-pellan.github.io">Dépot du site internet</a>
                </p>
            </Fragment>
        </Section>
    </main>
</Layout>
