---
import Layout from '../layouts/Layout.astro'
import Title from '../components/Title.astro'
import Tile from '../components/Tile.astro'
import '../styles/m-main.scss'
import Seo from '../class/Seo'
import ReturnAction from '../class/ReturnAction'
import Service from '../class/Service'

const returnValues: ReturnAction = new ReturnAction('/partners', 'Partenaires')
const tileContent: Service[] = [new Service('Coaching RHE', '/partners/coachingrhe', '<p>Coaching RHE, c\'est un coaching sportif basé sur vos' +
            'capacités physiques individuelles en binôme avec votre' +
            'cheval, pour vous amener vers l\'équilibre et l\'harmonie !</p>', '/img/coaching-rhe-320x320.webp'),
    new Service('KARE events', '/partners/kare-events', '<p>Le team building bon pour votre entreprise et la planète.</p>', '/img/kare-events-350x350.webp')
]
const seoData : Seo = new Seo('IBF Equicoaching | Partenaires', 'IBF Equicoaching, ils nous font confiance, découvrez nos partenaires !', false)
---

<Layout title="IBF Equicoaching | Partenaires" seoData={seoData}>
    <main>
        <Title title="Nos partenaires" returnValues={returnValues}/>
        <div class="m-main">
            <h2 class="m-main-title">Retrouvez nos partenaires</h2>
            <div class="m-main-wrapper">
                {tileContent.map((tile) => (
                    <Tile tileData={tile}>
                        <Fragment set:html={tile.html} slot="tile-content"/>
                    </Tile>
                ))}
            </div>
        </div>
    </main>
</Layout>
