---
import Layout from '../layouts/Layout.astro';
import Title from '../components/Title.astro';
import Tile from '../components/Tile.astro';
import '../styles/m-main.scss';
import Seo from '../class/Seo';

const returnValues = {link: '/service', title: 'Prestations'}
const tileContent = [
    {
        title: 'Formations professionnelles',
        link: '/pricing-training',
        html: '<ul><li>Posture Managériale et Leadership</li>' +
            '<li>Cohésion et Communication</li>' +
            '<li>Developper ses Soft Skills</li></ul>',
        imgSrc: '/img/atelier-320x320.webp',
    },
    {
        title: 'Séances d\'equicoaching individuelles',
        link: '/pricing-equicoaching',
        html: '<p>Séances d’environ 1h30. Disponible à la carte ou en forfait.' +
            '<br/>(En forfait : première séance par skype ou présentiel afin d’approfondir votre demande et d’élaborer un programme de séance adapté.)</p>',
        imgSrc: '/img/bourbon-320x320.webp',
    },
    {
        title: 'Ateliers Découverte Equicoaching',
        link: '/events',
        html: '<p>Venez découvrir la puissance de l\'equicoaching lors d’une demie journée de découverte </p><p>– 6 pers max (Dates suivant organisation ou à la demande - 3 pers min)</p>',
        imgSrc: '/img/atelier-decouverte-320x320.webp',
    },
    {
        title: 'Ateliers à thème Equicoaching',
        link: '/pricing-equicoaching',
        html: '<p>Venez travailler sur un thème donné lors d’une demie journée. </p><p>(Suivant organisation de 2 à 6 pers)</p>',
        imgSrc: '/img/atelier-decouverte-2-320x320.webp',
    },
    {
        title: 'Cours d’équitation remise en confiance',
        link: '/pricing-equitation',
        html: '<p>Vous avez eu une mauvaise expérience avec un cheval (chute, accident…), depuis vous n’osez plus vivre votre passion comme avant ? Vous avez toujours voulu monter à cheval mais vous n’osez pas sauter le pas ? </p><p>Cours particuliers alliant technique équestre et techniques de coaching.</p>' +
            '<p><small>- en centre équestre uniquement -</small></p>',
        imgSrc: '/img/saut-320x320.webp',
    },
    {
        title: 'Cours d’équitation gestion des émotions et préparation mentale',
        link: '/pricing-equitation',
        html: '<p>Le cheval ressent tout notre état émotionnel conscient et inconscient. Prendre conscience de soi pour mieux communiquer avec lui. </p><p>Pour du loisir ou pour la compétition. Cours particuliers ou collectifs (4 cavaliers max).</p>' +
            '<p><small>- en centre équestre uniquement -</small></p>',
        imgSrc: '/img/freedom-320x320.webp',
    },
]

const seoData : Seo = new Seo('IBF Equicoaching | Services et prestations', 'Découvrez nos différents services et leurs tarifs, pour entreprises, particuliers et associations', false);
---

<Layout title="IBF Equicoaching | Prestations" seoData={seoData}>
    <main>
        <Title title="Prestations" returnValues={returnValues}/>
        <div class="m-main">
            <h2 class="m-main-title">Ma mission</h2>
            <h3 class="m-main-title">Je pars du principe que nous avons tous en nous un trésor insoupçonné ; Ma mission au travers d’IBF Equicoaching est d’aider les gens à trouver le leur.</h3>
            <div class="m-main-wrapper">
                {tileContent.map((tile) => (
                    <Tile tileData={tile}>
                        <Fragment set:html={tile.html} slot="tile-content"/>
                    </Tile>
                ))}
            </div>
        </div>
    </main>
</Layout>
