@import 'src/styles/common/_colors';
@import 'src/styles/common/_spaces';
@import 'src/styles/common/_media';

.m-submenu {
  display: flex;

  li {
    text-transform: none !important;
  }

  &-link {
    margin-right: 0;
  }

  &-action {
    cursor: pointer;
  }

  &-link, &-title {
    text-transform: uppercase;
  }

  &-link:hover, &-title:hover {
    color: $color-primary;
  }

  &-arrow {
    margin-left: $space-Ae;

    &-active {
      transform: rotate(-0.25turn);
      transition: all 300ms;
    }
  }

  &-content {
    font-weight: 500;

    &-link {
      margin: $space-Ah;
      a:hover {
        color: $color-primary;
      }
    }
  }
}

@include tablet-and-mobile {
  .m-submenu {
    flex-direction: column;
    align-items: start;
    margin: $space-B $space-B $space-B $space-A;

    &-action {
      display: flex;
      flex-direction: row;
    }

    &-title {
      color: $color-white;
    }

    &-content {
      padding: $space-Af;
      background: $color-default;
      margin-left: $space-A;

      &-hidden {
        display: none;
        transition: display 0.5s linear;
      }
    }
  }
}

@include desktop {
  .m-submenu {
    &-content {
      position: absolute;
      padding: $space-Af;
      background: $color-white;
      top: 7.5rem;
      margin-left: $space-A;
      z-index: 999;

      &-hidden {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0.5s, opacity 0.5s linear;
      }
    }
  }
}