---
import {Image} from '@astrojs/image/components';
const { className, name } = Astro.props as Props;

const imgSrc = `svg/${name}.svg`
---
<div class={className}>
    <Image
        src={imgSrc}
        format="svg"
        width="20"
        height="20"
    />
</div>
