---
import SubMenu from "./SubMenu.astro";
import '../styles/menu/m-menu.scss';
const items = [
    {
        title: 'Home',
        link: '/'
    },
    {
        title: 'A propos',
        link: '/about'
    },
    {
        title: 'Prestations',
        link: '/service'
    },
    {
        title: 'Programme Exhale',
        link: '/exhale-program'
    },
    {
        title: 'Partenaires',
        link: '/partners'
    },
    {
        title: 'Faq',
        link: '/blog'
    },
    {
        title: 'Contact',
        link: '/contact'
    },
];
---
<ul class="m-menu-items">
    {items.map((item) => {
        if (item.link) {
            return (
                    <li>
                        <a href={item.link}>
                            {item.title}
                        </a>
                    </li>)
        } else {
            return (
                    <SubMenu info={item}/>)
        }
    })
    }
</ul>