---
import SubMenu from "./SubMenu.astro";
import '../styles/menu/m-menu.scss';
const items = [
    {
        title: 'Home',
        link: '/'
    },
    {
        title: 'A propos',
        link: '/about'
    },
    {
        title: 'Prestations',
        link: '/service'
    },
    {
        title: 'Entreprises',
        clickableLink: '/company',
        links: [
            {
                title: 'Formations',
                link: '/pricing-training'
            },
            {
                title: 'Team Building',
                link: '/pricing-team-building'
            }
        ]
    },
    {
        title: 'Partenaires',
        link: '/partners'
    },
    {
        title: 'Evenements',
        link: '/events'
    },
    {
        title: 'Tarifs',
        links: [{
            title: 'Equicoaching',
            link: '/pricing-equicoaching'
        },
            {
                title: 'Equitation',
                link: '/pricing-equitation'
            },
            {
                title: 'Chèques cadeaux',
                link: '/bons'
            }]
    },
    {
        title: 'Faq',
        link: '/blog'
    },
    {
        title: 'Contact',
        link: '/contact'
    },
];
---
<ul class="m-menu-items">
    {items.map((item) => {
        if (item.link) {
            return (
                    <li>
                        <a href={import.meta.env.BASE_URL + item.link}>
                            {item.title}
                        </a>
                    </li>)
        } else {
            return (
                    <SubMenu info={item}/>)
        }
    })
    }
</ul>