---
import '../styles/m-panel.scss';

const {id, title} = Astro.props;
---
<div class="m-panel">
    <div class="m-panel-title" id=`panel-header${id ? '-' + id : ''}`>
        <p class="m-panel-title-text">
            {title}
        </p>
    </div>
    <div class="m-panel-content" id=`panel-content${id ? '-' + id : ''}`>
        <div class="m-panel-content-slot">
            <slot name="panel-content" />
        </div>
    </div>
</div>