---
import {Image} from 'astro:assets';
import '../styles/m-qualiopi.scss'

let linkPath: string = Astro.url.pathname.includes('qualiopi') ? '/doc/certificat-qualiopi-ibf-equicoaching.pdf' : '/blog/certification-qualiopi';
---
<div class="m-qualiopi">
	<a href="/blog/certification-qualiopi" aria-label="En savoir plus sur ibf equicoaching et la certification qualiopi">
    		<Image src="/img/qualiopi-350x225.webp"  alt="ibf equicoaching qualiopi certification"width="350" height="225" format="webp"/>
	</a>
	<a href={linkPath} target="_blank" class="m-qualiopi-link">
		Formation ayant reçu l'aggrément Qualiopi sur la période 06/2023 - 06/2024
	</a>
</div>
