---
import {Image} from '@astrojs/image/components'
import '../styles/m-qualiopi.scss'
---
<a href="/blog/certification-qualiopi" class="m-qualiopi" aria-label="En savoir plus sur ibf equicoaching et la certification qualiopi">
    <Image src="/img/qualiopi-342x225.webp"  alt="ibf equicoaching qualiopi certification"
           width="342" height="225" format="webp"/>
</a>
