---
import {Image} from 'astro:assets';
import '../styles/m-qualiopi.scss'
---
<a href="/blog/certification-qualiopi" class="m-qualiopi" aria-label="En savoir plus sur ibf equicoaching et la certification qualiopi">
    <Image src="/img/qualiopi-350x225.webp"  alt="ibf equicoaching qualiopi certification"
           width="350" height="225" format="webp"/>
</a>
