---
import '../styles/m-section.scss';

const {subTitle, actions, alone, wide} = Astro.props;
---
<div class={alone ? wide ? 'm-section-text m-section-text-wide' : 'm-section-text' : 'm-section-text m-section-text-full'}>
    <slot name="section-title"/>
    {subTitle && (<span class="m-section-subtitle">{subTitle}</span>)}
    <div class="m-section-content">
        <slot name="section-content"/>
    </div>
    <div class="m-section-actions">
        {actions && actions.map((action) => (
                <a href={action.link}>{action.text}</a>
        ))}
    </div>
</div>