---
import '../styles/m-separator-values.scss';
import {Image} from 'astro:assets';
---
<section class="m-separator-values">
    <Image src="/img/separator-1200x320.webp" class="m-separator-values-bg" alt="valeur de ibf equicoaching"
           width="3000" height="160" format="webp"/>
</section>