---
import '../styles/m-separator-bg.scss';
/* eslint-disable @typescript-eslint/no-unused-vars */
import {BackgroundImage, ImageSupportDetection} from 'astro-imagetools/components'
---
<section class="m-separator-bg">
    <BackgroundImage
            src="/img/separator-1200x320.webp"
            preload="webp"
            backgroundSize="cover"
            brightness={0.5}
    >
        <div class="m-separator-content-empty" />
    </BackgroundImage>
</section>
