---
import '../styles/m-separator-values.scss';
import {Image} from '@astrojs/image/components';
---
<section class="m-separator-values">
    <Image src="/img/header-main-2800x320.webp" class="m-separator-values-bg" alt="valeur de ibf equicoaching"
           width="2800" height="320" format="webp"/>
    <div class="m-separator-values-content">
        <p>
            <span class="m-separator-feature">Respect</span><br/>
            de soi, de l’autre, des chevaux.
        </p>
        <p>
            <span class="m-separator-feature">Bienveillance</span><br/>
            Accepter l’autre dans son intégralité.
        </p>
        <p>
            <span class="m-separator-feature">Liberté</span><br/>
            Laisser libre cours à sa créativité.
        </p>
        <p>
            <span class="m-separator-feature">Confiance</span><br/>
            Se laisser guider.
        </p>
    </div>
</section>