---
import '../styles/m-separator-values.scss';
import { Image } from '@astrojs/image/components';
---
<section class="m-separator-values">
    <Image src="/img/header-main-2800x320.webp" class="m-separator-values-bg" alt="valeur de ibf equicoaching" width="2800" height="320" format="webp"/>
</section>