---
import Icon from 'astro-icon'
import '../styles/m-spinner.scss';

const {text, listenerSelector} = Astro.props;
---
<div class="m-spinner">
    <Icon class="m-spinner-icon" name="icomoon-free:spinner2"/>
    <p>
        {text}
    </p>
</div>
<script define:vars={{ listenerSelector }}>
    function waitForElm(selector)
    {
        return new Promise((resolve) => {
            if (document.querySelector(selector)) {
                return resolve(document.querySelector(selector));
            }

            const observer = new MutationObserver(() => {
                if (document.querySelector(selector)) {
                    resolve(document.querySelector(selector));
                    observer.disconnect();
                }
            });

            observer.observe(document.body, {
                childList: true,
                subtree: true,
            });
        });
    }

    waitForElm(`div[id^=${listenerSelector}]`).then(() => {
        document.querySelector('.m-spinner').classList.toggle('hidden')
    });
</script>
