---
import '../styles/m-title.scss';
import Icon from 'astro-icon'

const {title, returnValues} = Astro.props;
---
<section>
    <div class="m-title">
        {!returnValues && (
                <span class="m-title-motto">Vers vos objectifs, Ensemble</span>
                <span class="m-title-separator"></span>
        )}
        <h1 class={returnValues ? 'm-title-alone' : ''}>{title}</h1>
        {returnValues && (
                <p>
                    <a href="/">Home</a>
                    <Icon class="m-title-arrow" name="mdi:arrow-right"/>
                    <a href={returnValues.link}>{returnValues.title}</a>
                </p>
        )}
    </div>
</section>