---
import '../styles/m-title.scss';
import Icon from '../components/Icon.astro'

const {title, returnValues} = Astro.props;
---
<section>
    <div class="m-title">
        {!returnValues && (
                <span class="m-title-motto">Osez le coaching autrement</span>
                <span class="m-title-separator"></span>
        )}
        <h1 class={returnValues ? 'm-title-alone' : ''}>{title}</h1>
        {returnValues && (
                <p>
                    <a href="/">Home</a>
                    <Icon className="m-title-arrow" name="arrow-right"/>
                    <a href={returnValues.link}>{returnValues.title}</a>
                </p>
        )}
    </div>
</section>