---
import '../styles/m-title.scss';
import {Icon} from 'astro-icon'
import {BackgroundImage, ImageSupportDetection} from "astro-imagetools/components";

const {title, returnLink, returnLinkTitle} = Astro.props;
---
<BackgroundImage
        src="/public/img/header-main.webp"
        preload="webp"
>
    <div class="m-title-overlay"/>
    <div class="m-title">
        {!returnLink && (
                <span class="m-title-motto">Osez le coaching autrement</span>
                <span class="m-title-separator"></span>
        )}
        <h1>{title}</h1>
        {returnLink && (
                <p>
                    <a href="/">Home</a>
                    <Icon class="m-title-arrow" name="material-symbols:arrow-right-alt"/>
                    <a href={returnLink}>{returnLinkTitle}</a>
                </p>
        )}
    </div>
</BackgroundImage>