---
import '../styles/m-title.scss';
import { Image } from '@astrojs/image/components';
import { BackgroundImage, ImageSupportDetection } from "astro-imagetools/components";

const { title, returnLink, returnLinkTitle } = Astro.props;
---
<BackgroundImage
  src="/public/img/header-main.webp"
  preload="webp"
>
    <div class="m-title-overlay"/>
    <div class="m-title">
        {!returnLink && (
            <span class="m-title-motto">Osez le coaching autrement</span>
            <span class="m-title-separator"></span>
        )}
        <h1>{title}</h1>
        {returnLink && (
            <p>
                <a href="/">Home</a>
                <Image src="/svg/lnr-arrow-right.svg" type="svg" width="15" length="15" />
                <a href={returnLink}>{returnLinkTitle}</a>
            </p>
        )}
    </div>
</BackgroundImage>