---

---
<p>
    Le coaching c’est accompagner les personnes d’un point A «&nbsp;état
    présent&nbsp;» c’est-à-dire comment êtes-vous aujourd’hui dans votre
    vie&nbsp;?
</p>
<p>
    Entourage, situation personnelle, situation professionnelle,
    habitudes… Et d’aller à un point B «&nbsp;état désiré&nbsp;». Cet état
    désiré c’est un peu votre vie idéale.
</p>
<p>
    Si là, maintenant, je vous donnais une baguette magique, comment
    verriez-vous votre vie&nbsp;?
</p>
<p>
    De cet «&nbsp;état désiré&nbsp;» va naître un <strong>objectif</strong> que
    nous allons fixer ensemble.
</p>
<p>
    Le but du coach /equicoach, va être d’emmener la / les personne(s)
    vers l’objectif en toute sécurité.
</p>
<p>
    En enlevant des freins, des croyances limitantes (<span class="italic">Je ne peux pas parce que …Je n’y arriverai jamais car…De toute
    façon c’est comme ça et c’est tout…</span>) et en faisant prendre conscience aux personnes de leurs
    ressources, leurs qualités pour avancer.
</p>
<p>
    <strong>Le coach n’est pas un formateur, un consultant ou un
    thérapeute&nbsp;!</strong>
    Il n’apporte pas de solutions clés en mains mais aide les
    personnes à faire émerger des prises de conscience qui les feront
    avancer.
</p>
<p>A ce processus, en equicoaching, on intègre le cheval.</p>
<p class="bold">
    Il est important de rappeler qu’aucune compétence équestre n’est
    nécessaire puisque tous les exercices ont lieu à pied.
</p>
<p class="bold">
    Pourquoi le cheval dans un processus de coaching&nbsp;?
</p>
<p>
    <strong>Le cheval possède une immense intelligence émotionnelle</strong>
    et va, par conséquent, lire en nous comme dans un livre ouvert. Il
    va percevoir toutes nos émotions, même inconscientes. Il nous
    amène alors à <strong>l’authenticité</strong>, à montrer notre
    vrai Moi.
</p>
<p>
    Il réagit à son environnement à un instant T.
    <strong>Il vit toujours dans le présent</strong> et il va nous
    inviter à faire de même. De cette manière vous pourrez
    expérimenter différents comportements dans une même séance et voir
    directement l’impact de ceux-ci sur le cheval. De la même manière
    où un même cheval ne va pas réagir de la même manière avec deux
    personnes différentes. Il va s’adapter.
</p>
<p>
    De cette manière le cheval va
    <strong>accélérer les prises de conscience</strong>
    lors des séances de coaching et permettre aux coachés
    d’expérimenter des changements avec leur mental mais également
    avec leur corps et leurs émotions. Ces trois dimensions réunies
    vont permettre des
    <strong>changements durables et ancrés sur les personnes.</strong>
</p>
<p>
    Les thématiques que l’ont peut aborder en equicoaching sont très
    variées&nbsp;!
</p>
<p>
    <strong>Cette approche convient à des particuliers en quête de mieux-être&nbsp;:</strong>
</p>
<ul>
    <li>Confiance en soi</li>
    <li>Arriver à faire des choix</li>
    <li>Se libérer de ses peurs</li>
    <li>Entamer une reconversion professionnelle</li>
    <li>Et bien d’autres encore puisque l’objectif est propre à chacun&nbsp;!</li>
</ul>
<p>
    <strong>Mais aussi à des entreprises / collectivités&nbsp;:</strong>
</p>
<ul>
    <li>Mieux communiquer</li>
    <li>Former des managers (posture, leadership)</li>
    <li>Intégrer de nouveaux collaborateurs</li>
    <li>Faire le point sur la place de chacun dans une équipe</li>
    <li>Prévention du burn-out, bore-out</li>
    <li>Développer les softskills</li>
    <li>Et bien d’autres en fonction de vos besoins&nbsp;!</li>
</ul>
<i>Credit : Camille Marzec</i>