---

---
<p>Une bonne question pour commencer cet article.</p>
<p>
    <strong>
        L’intelligence émotionnelle c’est la capacité à percevoir,
        ressentir et identifier les émotions chez soi et chez les
        autres.
    </strong>
</p>
<p>
    Cela nous amène à une certaine
    <strong>gestion des émotions</strong>.
</p>
<p>
    Première étape, les <strong>comprendre</strong> :
    Quel est le message qu’elles veulent faire passer&nbsp;? Si nous
    l’écoutons notre émotion là tout de suite, que peut-elle vouloir
    nous dire sur nous, sur notre rapport au monde&nbsp;?
</p>
<p>
    L’émotion de la personne en face peut nous impacter, mais
    savons-nous pourquoi&nbsp;?
</p>
<p>
    Deuxième étape, les <strong>accepter</strong>:
    Qu’entend-on par acceptation&nbsp;? Bien souvent cette notion est
    connotée d’une part de passivité. «&nbsp;Je ressens de la colère c’est
    comme ça, ça passera bien à un moment&nbsp;» .
    <strong>Seulement, l’acceptation ne veut pas dire rester passif face à
        une situation et ne veux pas forcément dire être d’accord avec
        celle-ci non plus.</strong>
</p>
<p>
    <strong>
        L’acceptation c’est trouver le message derrière l’émotion et
        nous mettre en mouvement pour régler la situation, écouter nos
        besoins et se centrer de nouveau.
    </strong>
</p>
<p>Mais alors à quoi cela sert-il&nbsp;?</p>
<p>
    <strong>
        Comprendre et accepter ses émotions nous permet de mieux
        interagir avec nous et avec les autres en fonction de celles-ci.
    </strong>
</p>
<p>
    L’intelligence émotionnelle nous permet d’être en accord avec
    nous-même mais aussi d’avoir de l’empathie pour les autres (avoir
    de l’empathie signifie comprendre l’autre et non pas souffrir
    avec.).
</p>
<p>Ainsi nous pouvons mieux communiquer !</p>
<p>
    Nous prenons en compte nos besoins. Nous écoutons les autres
    véritablement dans ce qu’ils vivent, et nous prenons en compte
    leurs besoins s’ils sont exprimés.
</p>
<p>
    <strong>Cela nous permet, au final, de trouver notre «&nbsp;juste
        place&nbsp;».</strong>
    C’est-à-dire prendre en compte notre propre personne et nos
    besoins sans s’effacer ou au contraire prendre la place de
    l’autre.
</p>
<h3>
    En quoi l’equicoaching est un atout pour développer votre
    intelligence émotionnelle&nbsp;?
</h3>
<br>
<p>
    L’equicoaching met en relation les personnes et les chevaux mais
    ce n’est pas un hasard.
</p>
<p>
    En effet,
    <strong>le cheval possède une intelligence émotionnelle très
        développée.</strong>
</p>
<p>
    <strong>Il lit en vous comme dans un livre ouvert.</strong>
    Il a conscience de toute vos émotions, même celles que vous
    cachez.
</p>
<p>Son comportement va alors s’ajuster en fonction de celles-ci.</p>
<p>
    Si au cours d’une même séance vous changez d’état d’esprit cela va
    se voir sur le cheval en face de vous.
</p>
<p>
    <strong>Son langage étant composé à 90% de non verbal</strong>, il va vous pousser à l’observer, à l’écouter
    autrement que par
    les mots.
</p>
<p>
    Pour rentrer dans son monde vous aurez besoin de vous aligner
    entre votre mental, vos émotions, votre corps, et ce qu’ils
    renvoient en termes de posture et d’énergie.
</p>
<p>Et là, seulement là vous parlerez cheval.</p>
<p>
    <strong>Il va vous pousser à revenir à votre Moi authentique</strong>, sans masque, sans barrière. Il va vous
    questionner sur vous,
    sur vos relations aux autres et vous mettre face à vous-même.
</p>
<p>
    En cela le cheval est un excellent professeur en ce qui concerne
    l’intelligence émotionnelle en plus de tous les autres
    apprentissages qu’il peut nous apporter.
</p>
<i>Credit : Camille Marzec</i>