---
import '../../styles/m-blog.scss';
---
<p>
    Résolutions ou objectifs, cela revient au même, on veut changer
    quelque chose dans notre vie. Le problème c’est que parfois, on ne
    sait pas trop par où commencer, ou alors on se décourage en cours
    de route.
</p>
<p>Mais alors comment faire pour atteindre ses objectifs ?</p>
<p>
    Qu’ils soient personnels ou professionnels, dans le domaine de
    l’Être ou du Faire, voici quelques clés qui pourront sans doute
    vous aider :
</p>
<span class="m-blog-title">
    1 – La formulation positive :
</span>
<p>
    Utilisée en coaching comme dans bien d’autres domaines la
    formulation positive est très utile pour reprogrammer notre
    cerveau. On part du principe que le cerveau ne retient pas la
    négation.
</p>
<p>
    <i>Par exemple : Ne pensez surtout pas à un éléphant bleu !</i>
</p>
<p>
    Quelle a été votre première pensée ? Il y a fort à parier que vous
    ayez vu l’éléphant bleu en question.
</p>
<p>
    Pour formuler votre objectif de façon positive il va alors falloir
    ôter toutes les formes de négation de la phrase.
</p>
<p>
    Par exemple :
    <i>« Je veux arrêter de stresser pour un rien. » </i>deviendra :
    <i>« J’aimerai être serein(e). »</i>
</p>
<span class="m-blog-title">2 – Savoir pourquoi :</span>
<p>
    Vouloir changer et atteindre son objectif c’est bien, mais c’est
    encore mieux si l’on sait pourquoi !
</p>
<p>
    Vous pouvez donc vous poser la question : Pourquoi est-ce que vous
    voulez changer cela dans votre vie ? Pourquoi est-ce que cet
    objectif est important pour vous ?
</p>
<span class="m-blog-title">3 – Bien définir son Objectif :</span>
<p>
    Vous avez surement entendu parler en entreprise ou durant vos
    études des objectifs SMART. (Et si ce n’est pas le cas nous allons
    reprendre ce que c’est exactement.)
</p>
<p>
    La méthode SMART permet de bien définir les contours de votre
    objectif.
</p>
<p>
    Il faut qu’il soit <span class="bold">Spécifique</span> (on évite
    donc les généralités et on se concentre sur un domaine de vie par
    exemple.)
</p>
<p>
    <span class="bold">Mesurable :</span> A quoi pourrez-vous voir que
    votre objectif a été atteint ? On détermine donc une ligne
    d’arrivée.
</p>
<p>
    <span class="bold">Accessible :</span> Ne visez pas trop haut au
    risque de vous décourager ! Il faut que cet objectif soit
    chalengeant sans pour autant être inatteignable
</p>
<p>
    <span class="bold">Réalisable :</span> Pouvez-vous atteindre cet
    objectif avec les ressources dont vous disposez actuellement ?
    (Financière, formation, entourage, situation de vie…)
</p>
<p>
    Et le dernier mais pas des moindres ; il faut impérativement une
    notion de <span class="bold">Temps !</span>
</p>
<p>
    A quelle date précisément voulez-vous atteindre cet objectif&nbsp;?
    Cela peut sembler étrange de mettre une date dans son calendrier
    pour un objectif perso, mais c’est pourtant nécessaire si vous
    voulez vous challenger et garder votre cap&nbsp;!
</p>
<span class="m-blog-title">
    4 – Ne pas voir trop grand tout de suite :
</span>
<p>
    Comme dit précédemment, il faut un objectif accessible et
    réalisable.
</p>
<p>
    Si votre objectif demande beaucoup d’investissements (personnels,
    temps, finances…) n’hésitez pas à le découper en sous objectifs.
</p>
<p>
    Partez du principe que tous les grands changements sont faits de
    petits pas.
</p>
<p>
    Ainsi vous prendrez confiance petit à petit pour avancer
    sereinement, plutôt que de vous mettre en situation d’échec et de
    vous décourager, voire d’abandonner.
</p>
<span class="m-blog-title">5 – Se motiver en se projetant :</span>
<p>
    Pour garder votre motivation n’hésitez pas à vous projeter
    positivement dans la réussite de votre objectif. Cela vous aidera
    à garder le cap dans les moments difficiles.
</p>
<p>
    Visualisez ce à quoi vous aspirez, à quoi ressemblera votre vie
    une fois votre objectif atteint, et fixez cette image dans votre
    tête.
</p>
<span class="m-blog-title">6- Pas tout à la fois :</span>
<p>
    Dernier conseil que je peux vous donner ; ne faites pas tout à la
    fois !
</p>
<p>
    Vous avez peut-être des envies et des projets plein la tête et
    avec eux pleins d’objectifs différents.
</p>
<p>
    Essayez de faire le tri et de ne garder que les deux ou trois plus
    importants pour vous. Ceux qui vous font vibrer quand vous vous
    imaginez les réussir ! Et surtout, fixez vous des objectifs pour
    vous ! L’important ce n’est pas de faire mieux que les autres mais
    de faire mieux que votre moi d’hier (même si la vie n’est pas une
    progression constante !).
</p>
<p>
    N’hésitez pas à vous faire accompagner, par des proches, des
    collègues ou des professionnels qui sauront vous guider et vous
    motiver !
</p>
<p>
    J’espère qu’avec tous ces conseils vous y verrez un peu plus clair
    dans vos envies futures.
</p>
<i>Credit : Camille Marzec</i>
