---
import '../../styles/m-blog.scss';
---
<p>
    C’est-à-dire un accompagnement au changement d’un point A à un
    point B, point B qui sera mis sous forme
    d’<strong>objectif</strong>.
    <a class="m-blog-link" href="/blog/equicoaching-quest-ce-que-cest">(Pour en savoir plus sur le coaching et l’equicoaching je vous
    invite à cliquer juste ici.)</a>
</p>
<p>
    Dans un premier temps je vais prendre le temps de découvrir avec
    vous lors d’un entretien, votre personnalité, votre cadre de vie,
    et vos motivations à pratiquer l’equicoaching.
</p>
<p>
    Nous allons ensuite définir ensemble un objectif que vous voulez
    atteindre. Cela peut-être un objectif sur le long terme dans le
    cadre d’un suivi, ou un objectif de séance dans le cadre d’une
    découverte.
</p>
<p class="italic">
    Exemple d’objectifs&nbsp;:
    <ul>
        <li>Avoir plus confiance en soi </li>
        <li>Oser prendre des décisions </li>
        <li>Arriver à s’imposer face à ses collègues de travail </li>
        <li>Entamer une reconversion professionnelle</li>
        <li>...etc</li>
    </ul>
</p>
<p>
    Cette première phase peut faire l’objet de 30min dans le cadre
    d’une séance ponctuelle ou de découverte ou alors 1H30 dans le
    cadre d’un suivi complet.
</p>
<p>
    Une fois que nous savons vers quel objectif aller je vais choisir
    pour vous un ou des protocoles adaptés à vos besoin avec le
    cheval.
</p>
<p>
    Différentes formes sont possibles en fonction des besoins à
    travailler.
</p>
<p>
    Il existe des exercices plus axés sur les ressentis et le
    centrage, d’autre sur l’action et d’autre sur la réflexion afin de
    poser les choses.
</p>
<p>
    Cette phase d’exercice dure environ 45min pour les séances hors
    suivi, 1h pour les séances en forfait car l’objectif ayant été
    défini au préalable, il y a moins de temps consacré à la
    problématique en début de séance.
</p>
<p>
    Nous clôturons la séance par de nouveau un temps d’échange de
    10min afin de mettre des mots sur ce qui a été vécu et de repartir
    si besoin avec un petit objectif à atteindre entre deux séances.
</p>
<i>Credit : Camille Marzec</i>