---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

const { title, lang, seoData } = Astro.props;
---

<!DOCTYPE html>
<html lang={lang ? lang : 'fr'}>
	<Header title={title} seoData={seoData} />
	<body class="body">
	    <slot />
		<script>
           import '../scripts/menu-mobile.js';
           import '../scripts/sub-menu.js';
           import '../scripts/panel.js';
        </script>
	</body>
	<Footer />
</html>
<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
	}
	html {
		font-family: "Poppins", sans-serif;
		background-color: #F6F6F6;
		margin: 0;
	}
	body {
	    margin: 0;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>
